*{
    margin: 0;
    padding: 0;
}
:root{
    --navbar-height: 59px;
}
/* navigation bar*/
#navbar{
    display: flex;
    align-items: center;
}
/*navigation barlogo and image */
#logo{
    margin: -11px 38px;
}
#logo img{
   height:56px;
   margin: 34px 45px;
   border-radius: 25px
}

#navbar ul{
    display:flex;
    font-family: 'Shantell Sans', cursive;

}
#navbar::before {
    /* display:flex; */
    content: "";
    background-color: black;
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    top:0px ;
    left: 0px;
}
#navbar ul li {

   list-style: none;
   font-size: 1.3rem;

}

#navbar ul li a {
    color: white;
   display: block;
   padding: 3px 20px;
   border-radius: 20px;
   text-decoration: none;
}
#navbar ul li a:hover {
  color:black;
  background-color: rgb(53, 176, 213);
}
/*navigation barlist styling */
#home{
    display:flex;
    flex-direction: column;
    padding: 3px 200px;
    height:  604px;
    justify-content: center;    
    align-items: center;
}   
#home::before{
    content: "";
    background:url('../bg2.jpg' ) no-repeat center center/cover;
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
    top:0px ;
    left: 0px;
}
#home h1{
    color: antiquewhite;
    text-align: center;
    font-family: 'Shantell Sans', cursive;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Shantell Sans', cursive;
}
/* service section */
#service{
    margin: 34px;
    display: flex;

}
#service .box{
    border: 2px solid brown;
    padding: 100px;
    margin: 15px;
    border-radius: 23px;
    background-color: #f3f3f3;
}
#service .box img{
    height: 100px;
    margin: auto;
    display: block;
}
#service{
    font-family:'Shantell Sans', cursive ;
} 
#client-section{
    height: 344px;
    
}
#client-section::before{
    content: '';
    position: absolute;
    background: url('bg2.jpg') ;
    width: 100%;
    height: 309px;
    z-index: -1;
    opacity: .4;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 34px;
}

#clients img{
  
    height: 124px;
}
/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    /* background: url('../contact.jpg') no-repeat center center/cover; */

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}


footer{
    background: black;
    color: white;
    padding: 9px 20px;
}


/* utility classes */
.h-primary{
    font-size: 2.8rem;
     padding: 12px;
     text-align: center;
     font-family: 'Kanit', sans-serif;
     padding-top: 82px;
}
.h-secondary{
    font-size: 2.1rem;
     padding: 12px;
     text-align: center;
     font-family: 'Shantell Sans', cursive;
    
}


.btn{
    padding: 6px 20px;
    border: 2px solid rgb(37, 179, 179);
    color: rgb(254, 254, 254);
    background-color: #db2f2f;
    margin: 28px;
    font-size: 1.5rem;
    border-radius: 13px;
    cursor: pointer;
}
.center{
    text-align: center;
}
